body { margin: 0; }

.book {
  /* Book takes up the full screen */
  display: flex;
  overflow-x: scroll;
  width: 100hh;
  height: 100vh;

  /* Book pages snap to viewport */
  scroll-snap-type: x mandatory;
}

/* Pages alternate in colour, and are low contrast */
.page {
  color: #575279;
  background: linear-gradient(47deg, rgba(242,233,225,1) 0%, rgba(255,250,243,1) 100%);
}
body { background-color: #907aa9; } /* peekaboo */
@media (prefers-color-scheme: dark) {
  .page {
    color: #e0def4;
    background: linear-gradient(47deg, rgba(38,35,58,1) 0%, rgba(25,23,36,1) 100%);
  }
  body { background-color: #c4a7e7; } /* peekaboo */
}

.page {
  /* Page contains text with padding, and padding doesn't count towards height/width */
  box-sizing: border-box;
  padding: 1em;
  line-height: 1.5em;

  /* Page is 100% height and don't scroll */
  height: 100%;
  flex: 0 0 100%;
  overflow: hidden;

  /* Page snaps to the viewport when you stop scrolling */
  scroll-snap-align: start;
}

.page > p {
  max-width: 500px;
  margin: 1em auto;
}
